AvroraIT_Test_ConsoleApp_Task2/.vs
AvroraIT_Test_DB_Task1/.vs

AvroraIT_Test_ConsoleApp_Task2/ConsoleApp_Task2/bin
AvroraIT_Test_ConsoleApp_Task2/ConsoleApp_Task2/obj

AvroraIT_Test_DB_Task1/App_DB_Task1/bin
AvroraIT_Test_DB_Task1/App_DB_Task1/obj